.tariff-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 3px;

  @media (min-width: 768px) {
    height: 80px;
  }

  @media (min-width: 1024px) {
    height: 120px;
  }
}

.order {
  flex: 0;
  padding: 0 5px;
  font-size: 16px;

  @media (min-width: 768px) {
    padding: 5px;
    border-right: 1px solid black;
  }
}

.tariff-name {
  flex: 0;
  font-size: 16px;
  padding: 5px;

  @media (min-width: 768px) {
    padding-left: 15px;
  }
  @media (min-width: 1024px) {
    padding: 25px;
  }
}

.tariff-price {
  display: flex;
  flex: 1;
  padding: 5px;
}

