<div class="tariff-wrapper">
  <div class="order">
    {{ index + 1 }}.
  </div>

  <div class="tariff-name">
    {{ offer?.product?.caption?.text }}
  </div>

  <div class="tariff-speed">
    <div class="tariff-speed__wrapper">
      <div class="tariff-speed__label">Download</div>
      <div class="tariff-speed__info-block">
        <span class="ico">&#8595;</span>
        <div class="tariff-speed__speed">
          {{ offer?.contractTerm.downloadSpeed.amount | tariffSpeed }}
        </div>
      </div>
    </div>
    <div class="tariff-speed__wrapper">
      <div class="tariff-speed__label">Upload</div>
      <div class="tariff-speed__info-block tariff-speed__info-block_upload">
        <span class="ico">&#8593;</span>
        <div class="tariff-speed__speed">
          {{ offer?.contractTerm.uploadSpeed.amount | tariffSpeed }}
        </div>
      </div>
    </div>

  </div>

  <div class="tariff-benefit">
    <ng-container *ngFor="let benefit of offer?.remarks; let i = index; trackBy: trackByFn">
      <ng-container [ngSwitch]="benefit.type">
        <ng-container *ngSwitchCase="benefitType.CASHBACK" class="tariff-benefit-item">
          <div class="tooltip">
            <div class="tariff-benefit-item__text" [innerHTML]="benefit.content.tooltip.body"></div>
            <span class="tooltip__text" [innerHTML]="benefit.content.tooltip.body"></span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="benefitType.FLAT_RATE_INCLUDED" class="tariff-benefit-item">
          <div class="tooltip">
            <p class="tariff-benefit-item__text" [innerHTML]="benefit.content.tooltip.body"></p>
            <span class="tooltip__text" [innerHTML]="benefit.content.tooltip.body"></span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="benefitType.FREE_TEXT" class="tariff-benefit-item">
          <div class="tooltip">
            <p class="tariff-benefit-item__text" [innerHTML]="benefit.content.tooltip.body"></p>
            <span class="tooltip__text" [innerHTML]="benefit.content.tooltip.body"></span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="benefitType.FREE_TEXT_SHOPPING_CART" class="tariff-benefit-item">
          <div class="tooltip">
            <p class="tariff-benefit-item__text" [innerHTML]="benefit.content.tooltip.body"></p>
            <span class="tooltip__text" [innerHTML]="benefit.content.tooltip.body"></span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="benefitType.GENERAL" class="tariff-benefit-item">
          <div class="tooltip">
            <p class="tariff-benefit-item__text" [innerHTML]="benefit.content.tooltip.body"></p>
            <span class="tooltip__text" [innerHTML]="benefit.content.tooltip.body"></span>
          </div>
        </ng-container>

      </ng-container>
    </ng-container>
  </div>

  <div class="tariff-price">
    <p class="tariff-price__cost">
      {{ offer?.cost.effectiveCost.content.text }}
    </p>
    <button class="tariff-price__btn">
      <span class="tariff-price__btn-label">To Tariff</span> &#62;
    </button>
  </div>
</div>

